In [380]:
# Importing Libraries
import selenium
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

#import warnings
import warnings
warnings.filterwarnings("ignore")

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [234]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)
time.sleep(2)

#Click on appropriate link
link = driver.find_element_by_xpath('//*[@id="noarticletext"]/tbody/tr/td/span/a')  
link.click()
time.sleep(2)

#Click on appropriate link
link1 = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[3]/ul/li[1]/div[1]/a/span[5]')     
link1.click()
time.sleep(2)

#Using pandas & current url
df1=pd.read_html(driver.current_url,match="Video name") 
# Empty lists
yt_videos=pd.DataFrame()
#Using dataframe operations
yt_videos=df1[0].drop(columns=["Note","Unnamed: 6"],index=[30]) #Drop unwanted row & column
yt_videos.rename(columns = {'No.':'Rank','Uploader':'Artist'}, inplace = True) 
yt_videos

,Rank,Video name,Artist,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.94,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.44,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.54,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.38,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.17,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.29,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.25,"February 27, 2018"
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.22,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Psy,4.11,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.98,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.50,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.45,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.45,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.38,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.34,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.29,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.14,"May 24, 2018"
18,19.,"""Dark Horse""[44]",Katy Perry,3.10,"February 20, 2014"
19,20.,"""Faded""[45]",Alan Walker,3.10,"December 3, 2015"
20,21.,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
21,22.,"""Girls Like You""[47]",Maroon 5,3.06,"May 31, 2018"
22,23.,"""Lean On""[48]",Major Lazer,3.06,"March 22, 2015"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.06,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.02,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.94,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.89,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.87,"June 4, 2010"
28,29.,"""Axel F""[54]",Crazy Frog,2.87,"June 16, 2009"
29,30.,"""Hello""[55]",Adele,2.85,"October 22, 2015"

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [282]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(2)

#Click on fixtures(at page end)
link = driver.find_element_by_xpath('/html/body/footer/div/nav/ul/li[2]/ul/li[1]/a')  
link.click()
time.sleep(2)

#Empty list
match=[]
series=[]
place=[]
date=[]
Time=[]

#Scrape match
matches=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in matches:
    match.append(i.text)

#Scrape series
ser=driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]')
for i in ser:
    series.append(i.text)

#Scrape place
for i in range(1):
    places=driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a["i"]/div[2]/div[2]/p/span')
    for i in places:
        place.append(i.text)

In [289]:
date=[]
#Scrape date
for i in range(1):
    dates=driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a["i"]/div[2]/div[2]/span/strong')
    for j in dates:
        date.append(j.text)

In [291]:
#Scrape time
tim=[]
Time=[]
for i in range(1):
    times=driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a["i"]/div[2]/div[2]/span')
    for j in times:
        tim.append(j.text)
for i in range(0,11):
    Time.append(tim[i][-9:])

In [292]:
#Create Dataframe
fixture=pd.DataFrame()
fixture["Match"]= pd.Series(match)
fixture["Series"]= pd.Series(series)
fixture["Place"]= pd.Series(place)
fixture["Date"]= pd.Series(date)
fixture["Time"]= pd.Series(Time)
fixture

,Match,Series,Place,Date,Time
0,1st ODI,ODI\nSRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Sunday 18th July,14:30 IST
1,2nd ODI,ODI\nSRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Tuesday 20th July,14:30 IST
2,3rd ODI,ODI\nSRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Friday 23rd July,14:30 IST
3,1st T20I,T20I\nSRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Sunday 25th July,19:00 IST
4,2nd T20I,T20I\nSRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Tuesday 27th July,19:00 IST
5,3rd T20I,T20I\nSRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Thursday 29th July,19:00 IST
6,1st Test,TEST\nENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4th August,15:30 IST
7,2nd Test,TEST\nENGLAND V INDIA 2021,"Lord's, London",Thursday 12th August,15:30 IST
8,3rd Test,TEST\nENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25th August,15:30 IST
9,4th Test,TEST\nENGLAND V INDIA 2021,"The Oval, London",Thursday 2nd September,15:30 IST
10,5th Test,TEST\nENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10th September,15:30 IST

Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [304]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(2)

#Click on selenium tab
link = driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[2]/span[8]')  
link.click()
time.sleep(2)

#Click on selenium tab
link1 = driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a')  
link1.click()
time.sleep(2)

#Using pandas & current url
df=pd.read_html(driver.current_url,match="Exception name") 
selenium=df[0]
selenium.reset_index(drop=True,inplace=True)
selenium

,0,1
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [342]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

#Click on "economy" tab
link1=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
link1.click()
time.sleep(2)

#Click on "India" tab
link2=driver.find_element_by_xpath('/html/body/div[1]/div[1]/div[2]/div[2]/div/a[3]')
link2.click()
time.sleep(2)

#Click on "Gdp of India states" tab
link4=driver.find_element_by_xpath('/html/body/div/div[2]/div[2]/ul/li[1]/a')
link4.click()

#Using pandas & current url
ds=pd.read_html(driver.current_url,match="Rank") 
GDP=ds[0].drop(index=33)
GDP

    Rank                      State GSDP (Cr INR at Current prices)           \
    Rank                      State                           19-20    18-19
0    1.0                Maharashtra                               -  2632792
1    2.0                 Tamil Nadu                         1845853  1630208
2    3.0              Uttar Pradesh                         1687818  1584764
3    4.0                    Gujarat                               -  1502899
4    5.0                  Karnataka                         1631977  1493127
5    6.0                West Bengal                         1253832  1089898
6    7.0                  Rajasthan                         1020989   942586
7    8.0             Andhra Pradesh                          972782   862957
8    9.0                  Telangana                          969604   861031
9   10.0             Madhya Pradesh                          906672   809592
10  11.0                     Kerala                               -   781653
11  12.0                      Delhi                          856112   774870
12  13.0                    Haryana                          831610   734163
13  14.0                      Bihar                          611804   530363
14  15.0                     Punjab                          574760   526376
15  16.0                     Odisha                          521275   487805
16  17.0                      Assam                               -   315881
17  18.0               Chhattisgarh                          329180   304063
18  19.0                  Jharkhand                          328598   297204
19  20.0                Uttarakhand                               -   245895
20  21.0            Jammu & Kashmir                               -   155956
21  22.0           Himachal Pradesh                          165472   153845
22  23.0                        Goa                           80449    73170
23  24.0                    Tripura                           55984    49845
24  25.0                 Chandigarh                               -    42114
25  26.0                 Puducherry                           38253    34433
26  27.0                  Meghalaya                           36572    33481
27  28.0                     Sikkim                           32496    28723
28  29.0                    Manipur                           31790    27870
29  30.0                   Nagaland                               -    27283
30  31.0          Arunachal Pradesh                               -    24603
31  32.0                    Mizoram                           26503    22287
32  33.0  Andaman & Nicobar Islands                               -        -

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20    18-19
0   13.94%        399.921                               -  2039074
1    8.63%        247.629                         1312929  1215307
2    8.39%        240.726                         1166817  1123982
3    7.96%        228.290                               -  1186379
4    7.91%        226.806                         1156039  1091077
5    5.77%        165.556                          793223   739525
6    4.99%        143.179                          711627   677428
7    4.57%        131.083                          672018   621301
8    4.56%        130.791                          663258   612828
9    4.29%        122.977                          561801   522009
10   4.14%        118.733                               -   559412
11   4.10%        117.703                          634408   590569
12   3.89%        111.519                          572240   531085
13   2.81%         80.562                          414977   375651
14   2.79%         79.957                          418868   397669
15   2.58%         74.098                          396499   376877
16   1.67%         47.982                               -   234048
17   1.61%         46.187                          243477   231182
18   1.57%         45.145                          240036   224986
19   1.30%         37.351                               -   193273
20   0.83%         23.690                               -   112755
21   0.81%         23.369                          124403   117851
22   0.39%         11.115                           63408    57787
23   0.26%          7.571                           40583    36963
24   0.22%          6.397                               -    31192
25   0.18%          5.230                           25093    23013
26   0.18%          5.086                           26695    24682
27   0.15%          4.363                           20017    18722
28   0.15%          4.233                           20673    19300
29   0.14%          4.144                               -    17647
30   0.13%          3.737                               -    16676
31   0.12%          3.385                           18797    16478
32       -              -                               -        -

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [414]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://github.com/"
driver.get(url)
time.sleep(4)

#Click on "explore" tab
link1=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
link1.click()
time.sleep(3)

#Click on "trending" tab
link2=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
link2.click()
time.sleep(3)

#Repositary Title & Repositary description
name=[]
for i in range(1):
    names=driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article["i"]/h1/a')
    for j in names:
        name.append(j.text)

git_hub=pd.DataFrame()
git_hub["Name"]=pd.Series(name)  #Assigning to list to dataframe     
git_hub["Repositary Title"],git_hub["Repositary description"]=git_hub["Name"].str.split("/",2).str
git_hub.drop(columns=["Name"],inplace=True)

#Number of contrubutors
num=[]
for i in range(1):
    number=driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article["i"]/div[2]/a[2]')
    for j in number:
        num.append(j.text) 
git_hub["No. of Contributors"]=pd.Series(num) #Assigning to list to dataframe

#Language
lang=[]
for i in range(1):
    language=driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article["i"]/div[2]/span[1]/span[2]')
    for j in language:
        if j.text is not str(" "):
            lang.append(j.text)
        else:
            lang.append(np.nan)
lang.insert(4,"-")
lang.insert(14,"-")
lang.insert(17,"-")
lang.insert(22,"-")
git_hub["Language used"]=pd.Series(lang) #Assigning to list to dataframe
git_hub #Final dataframe

,Repositary Title,Repositary description,No. of Contributors,Language used
0,ailabstw,social-distancing-android,33,Kotlin
1,ailabstw,social-distancing-ios,21,Swift
2,shufflewzc,faker2,81,JavaScript
3,airbnb,javascript,"21,379",JavaScript
4,laynH,Anime-Girls-Holding-Programming-Books,309,-
5,swisskyrepo,PayloadsAllTheThings,"7,659",Python
6,trekhleb,javascript-algorithms,"18,654",JavaScript
7,go-kratos,kratos,"2,787",Go
8,iptv-org,iptv,"2,536",JavaScript
9,30-seconds,30-seconds-of-code,"8,577",JavaScript
10,spring-projects,spring-graphql,39,Java
11,microsoft,IoT-For-Beginners,77,C++
12,goldbergyoni,nodebestpractices,"6,816",JavaScript
13,ryanmcdermott,clean-code-javascript,"6,706",JavaScript
14,sorrycc,awesome-javascript,"3,498",-
15,lydiahallie,javascript-questions,"4,689",JavaScript
16,star261,jd,35,Java
17,EbookFoundation,free-programming-books,"43,197",-
18,chefyuan,algorithm-base,934,JavaScript
19,philc,vimium,"1,928",Go
20,earthly,earthly,101,C++
21,jomjol,AI-on-the-edge-device,120,Clojure
22,nikolaydubina,go-recipes,24,-
23,logseq,logseq,270,NaN

Q6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [443]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)

#Click on "charts" tab
link1=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a')
link1.click()
time.sleep(2)

#Click on "Hot 100" tab
link2=driver.find_element_by_xpath('/html/body/main/div[6]/div/div[2]/div[2]/a[1]')
link2.click()
time.sleep(2)

hot_100=pd.DataFrame() #Empty Dataframe

#Scrape song
song=[]
for i in range(1):
    songs=driver.find_elements_by_xpath('/html/body/main/div/div/div[7]/div/ol/li["i"]/button/span[2]/span[1]')
    for j in songs:
        song.append(j.text)
hot_100["Song_name"]=pd.Series(song)

#Scrape artist
artist=[]
for i in range(1):
    artists=driver.find_elements_by_xpath('/html/body/main/div/div/div[7]/div/ol/li["i"]/button/span[2]/span[2]')
    for j in artists:
        artist.append(j.text)
hot_100["Artist_name"]=pd.Series(artist)

#Scrape last week rank,Peak rank & Weeks on chart
rank=[]
for i in range(1):
    ranks=driver.find_elements_by_xpath('/html/body/main/div/div/div[7]/div/ol/li["i"]/button/div')
    for j in ranks:
        rank.append(j.text)
hot_100["Rank"]=pd.Series(rank)

#Split rank into 3 columns
hot_100["Last Week"],hot_100["Peak Rank"],hot_100["Weeks on Chart"]=hot_100["Rank"].str.split("\n",3).str
hot_100.drop(columns=["Rank"],inplace=True)

#Final dataframe
hot_100

,Song_name,Artist_name,Last Week,Peak Rank,Weeks on Chart
0,Butter,BTS,1,1,6
1,Good 4 U,Olivia Rodrigo,2,1,7
2,Kiss Me More,Doja Cat Featuring SZA,4,3,12
3,Levitating,Dua Lipa Featuring DaBaby,3,2,39
4,Bad Habits,Ed Sheeran,-,5,1
...,...,...,...,...,...
95,Twerkulator,City Girls,96,51,4
96,Tombstone,Rod Wave,83,11,14
97,Miss The Rage,Trippie Redd & Playboi Carti,82,11,8
98,Rise!,"Tyler, The Creator Featuring Daisy World",-,99,1
99,Working,Tate McRae X Khalid,94,94,2

Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [488]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(2)

In [490]:
window_before = driver.window_handles[0] #Parent window
#Click on "Recruiters" tab
driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div').click()
time.sleep(2)
window_after = driver.window_handles[1] #New window
driver.switch_to_window(window_after) #Switch to new window

In [493]:
#Enter "Data Science"
search=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys("Data science")     
time.sleep(2)
#Click on "search" tab
link2=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
link2.click()

In [629]:
#Empty list
name=[]
designation=[]
company=[]
skill=[]
location=[]

#Scrape all data
data=[]
for i in range(1):
    design=driver.find_elements_by_xpath('//p[@class="highlightable"]')
    for j in design:                      
        data.append(j.text.split("\n"))

#Scrape name, designation,location
name=[]
designation=[]
company=[]
for i in range(0,50):
    name.append(data[i][0]) #
    designation.append(data[i][1])
    company.append(data[i][2])
        
#Scrape location
for i in range(1):
    loc=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
    for j in loc:
        if j.text==" ":
            location.append("None")
        else:
            location.append(j.text)
location.insert(26,"None") #insert missinng values
location.insert(48,"None") #Insert missing values

#Scrape skills
for i in range(1):
    skills=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for j in skills:
        skill.append(j.text)

#Create dataframe
naukri=pd.DataFrame()
naukri["Name"]=pd.Series(name)
naukri["Designation"]=pd.Series(designation)
naukri["Company"]=pd.Series(company)
naukri["Skill they hire"]=pd.Series(skill)
naukri["Location"]=pd.Series(location)
naukri

,Name,Designation,Company,Skill they hire,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",None
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",None
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [452]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(2)

#Using pandas & current url
ds1=pd.read_html(driver.current_url,match="Rank") 
ds1[0].drop(index=100)

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert",807311,Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [461]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(2)

#Empty List
Name=[]
years=[]
genre=[]
run_time=[]
rating=[]
vote=[]

for i in range(1):
    #Scrape Name
    Names=driver.find_elements_by_xpath('/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div["i"]/div[2]/h3/a')
    for j in Names:
        Name.append(j.text)
    
    #Scrape years
    years=driver.find_elements_by_xpath('/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div["i"]/div[2]/h3/span[2]')
    for j in years:
        year.append(j.text)
        
    #Scrape genre
    genres=driver.find_elements_by_xpath('/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div["i"]/div[2]/p[1]/span[5]')
    for j in genres:
        genre.append(j.text)
    
    #Scrape run_time
    times=driver.find_elements_by_xpath('/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div["i"]/div[2]/p[1]/span[3]')
    for j in times:
        run_time.append(j.text) 
    
    #Scrape rating
    ratings=driver.find_elements_by_xpath('/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div["i"]/div[2]/div[1]/div[1]/span[2]')
    for j in ratings:
        rating.append(j.text)  
    
    #Scrape vote
    votes=driver.find_elements_by_xpath('/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div["i"]/div[2]/p[4]/span[2]')
    for j in votes:
        vote.append(j.text) 
        
#Empty dataframe
web_series=pd.DataFrame()
web_series["Name"]=pd.Series(Name)
web_series["Year Span"]=pd.Series(year)
web_series["Genre"]=pd.Series(genre)
web_series["Run_time"]=pd.Series(run_time)                        
web_series["Ratings"]=pd.Series(rating)                        
web_series["Vote"]=pd.Series(vote)
web_series

,Name,Year Span,Genre,Run_time,Ratings,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,834,494"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"873,275"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"878,887"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"264,096"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,625"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,776"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,379"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"169,432"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,112"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"193,225"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [470]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening url
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

#Click on "view all datasets"
link=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
link.click()

#Using pandas & current url
ds2=pd.read_html(driver.current_url,match="Name") 
ds2[1]

,0,1,2,3,4,5,6
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
4,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,NaN,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021